Repository YAPP-Github/Reed-Server, pull requests merged in 2025-08, with the labels that each got.

#68 feat: 독서기록상세조회 기능을 개발합니다
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordController.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/exception/ReadingRecordErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/exception/ReadingRecordNotFoundException.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordDomainService.kt
Labels: ✨ feat

#72 feat: BookDetailResponse에 사용자 도서 상태 및 페이지 정보 추가
  apis/src/main/kotlin/org/yapp/apis/auth/service/TokenService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserAuthService.kt
  apis/src/main/kotlin/org/yapp/apis/book/constant/BookQueryServiceQualifier.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookController.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookCreateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookDetailRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookSearchRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UpsertUserBookRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBookRegisterRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookDetailResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookSearchResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/BookErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/UserBookException.kt
  apis/src/main/kotlin/org/yapp/apis/book/helper/AladinApiHelper.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookManagementService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/impl/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/request/CreateReadingRecordRequest.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/util/AuthorExtractor.kt
  apis/src/main/kotlin/org/yapp/apis/util/IsbnConverter.kt
  apis/src/main/kotlin/org/yapp/apis/util/NicknameGenerator.kt
  apis/src/main/resources/application.yml
  domain/src/main/kotlin/org/yapp/domain/book/Book.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/exception/ReadingRecordErrorCode.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/exception/ReadingRecordNotFoundException.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/exception/UserBookErrorCode.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/exception/UserBookNotFoundException.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/book/BookCoverSize.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/util/RegexUtils.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/AladinApi.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/AladinRestClient.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/request/AladinBookLookupRequest.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/request/AladinBookSearchRequest.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/response/AladinDetailResponse.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/response/AladinResponseBase.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/response/AladinSearchResponse.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/impl/ReadingRecordRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/JpaUserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/UserBookRepositoryImpl.kt
Labels: ✨ feat

#74 Book 217 feature/#73
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/UserBookResponse.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/response/ReadingRecordResponse.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/vo/ReadingRecordInfoVO.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBook.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/vo/UserBookInfoVO.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/entity/UserBookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/UserBookRepositoryImpl.kt
Labels: ✨ feat, 🔨 refactor

#76 feat: 애플 회원탈퇴 구현 완료
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthController.kt
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/GenerateTokenPairRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/SaveAppleRefreshTokenRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/SocialLoginRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/WithdrawRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/WithdrawStrategyRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/exception/AuthErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/auth/manager/AppleApiManager.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/AppleAuthService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/AuthTokenService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/RefreshTokenService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserSignInService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserWithdrawalService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/AuthStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/signin/AppleSignInStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/signin/KakaoSignInStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/signin/SignInCredentials.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/signin/SignInStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/signin/SignInStrategyResolver.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/AppleWithdrawStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/KakaoWithdrawStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/WithdrawStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/WithdrawStrategyResolver.kt
  apis/src/main/kotlin/org/yapp/apis/auth/usecase/AuthUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBooksByIsbnsRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/seed/usecase/SeedUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/user/controller/UserController.kt
  apis/src/main/kotlin/org/yapp/apis/user/controller/UserControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/FindOrCreateUserRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/FindUserIdentityRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/TermsAgreementRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/CreateUserResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/UserAuthInfoResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/UserProfileResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/WithdrawTargetUserResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/service/UserAccountService.kt
  apis/src/main/kotlin/org/yapp/apis/user/service/UserService.kt
  apis/src/main/kotlin/org/yapp/apis/user/usecase/UserUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/token/RefreshTokenDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/user/UserDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/user/UserRepository.kt
  domain/src/main/kotlin/org/yapp/domain/user/vo/WithdrawTargetUserVO.kt
  infra/src/main/kotlin/org/yapp/infra/external/oauth/apple/AppleApi.kt
  infra/src/main/kotlin/org/yapp/infra/external/redis/entity/RefreshTokenEntity.kt
  infra/src/main/kotlin/org/yapp/infra/user/repository/impl/UserRepositoryImpl.kt
Labels: ✨ feat

#78 feat: 카카오 회원탈퇴 기능 구현 완료
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthController.kt
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/WithdrawRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/WithdrawStrategyRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/exception/AuthErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/auth/manager/KakaoApiManager.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/AppleWithdrawStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/KakaoWithdrawStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/usecase/AuthUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/config/AuthConfig.kt
  apis/src/main/kotlin/org/yapp/apis/config/KakaoOauthProperties.kt
  apis/src/main/resources/application.yml
  infra/src/main/kotlin/org/yapp/infra/external/oauth/kakao/KakaoApi.kt
  infra/src/main/kotlin/org/yapp/infra/external/oauth/kakao/KakaoRestClient.kt
  infra/src/main/kotlin/org/yapp/infra/external/oauth/kakao/response/KakaoUnlinkResponse.kt
Labels: ✨ feat

#80 refactor: 모든 ISBN 사용 로직을 ISBN13을 사용하도록 변경
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookCreateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookDetailRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UpsertUserBookRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBookRegisterRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBooksByIsbn13sRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookCreateResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/UserBookResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookManagementService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/book/Book.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/book/vo/BookInfoVO.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBook.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/vo/HomeBookVO.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/vo/UserBookInfoVO.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/validator/IsbnValidator.kt
  infra/src/main/kotlin/org/yapp/infra/book/entity/BookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/book/repository/JpaBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/book/repository/impl/BookRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/request/AladinBookLookupRequest.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/entity/UserBookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/JpaUserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/UserBookRepositoryImpl.kt
Labels: 🔨 refactor

#82 refactor: 홈화면 API 응답 DTO에 isbn13필드 추가
  apis/src/main/kotlin/org/yapp/apis/home/dto/response/UserHomeResponse.kt
Labels: 🔨 refactor

#84 refactor: 씨앗 카운트를 userBookId 기준으로 집계하도록 리팩토링
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/withdraw/WithdrawStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordController.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/response/SeedStatsResponse.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordTagService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/seed/controller/SeedController.kt
  apis/src/main/kotlin/org/yapp/apis/seed/controller/SeedControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/seed/usecase/SeedUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecordtag/ReadingRecordTagDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecordtag/ReadingRecordTagRepository.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/tag/GeneralEmotionTagCategory.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/repository/JpaReadingRecordTagQuerydslRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/repository/JpaReadingRecordTagRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/repository/impl/JpaReadingRecordTagQuerydslRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/repository/impl/ReadingRecordTagRepositoryImpl.kt
Labels: 🔨 refactor

#87 feat: DisableSwaggerSecurity 어노테이션으로 Swagger 내 로그인과 토큰 갱신 API 보안 설정을 비활성화하는 기능 추가
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/DeleteTokenRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/GenerateTokenPairRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/SocialLoginRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/TokenGenerateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/TokenRefreshRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/WithdrawStrategyRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/AuthResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/RefreshTokenResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/TokenPairResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/UserCreateInfoResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/UserIdResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/AppleAuthService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/AuthTokenService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/RefreshTokenService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserSignInService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserWithdrawalService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/signin/SignInStrategyResolver.kt
  apis/src/main/kotlin/org/yapp/apis/auth/usecase/AuthUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookCreateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookDetailRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookSearchRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UpsertUserBookRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBookRegisterRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBooksByIsbn13sRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookCreateResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookDetailResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookSearchResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/UserBookPageResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/UserBookResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookManagementService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/util/AuthorExtractor.kt
  apis/src/main/kotlin/org/yapp/apis/book/util/IsbnConverter.kt
  apis/src/main/kotlin/org/yapp/apis/config/SwaggerConfig.kt
  apis/src/main/kotlin/org/yapp/apis/home/dto/response/UserHomeResponse.kt
  apis/src/main/kotlin/org/yapp/apis/home/service/HomeService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/request/CreateReadingRecordRequest.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/response/ReadingRecordResponse.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/response/SeedStatsResponse.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordTagService.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/FindOrCreateUserRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/FindUserIdentityRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/SaveAppleRefreshTokenRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/request/TermsAgreementRequest.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/CreateUserResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/UserAuthInfoResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/UserProfileResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/dto/response/WithdrawTargetUserResponse.kt
  apis/src/main/kotlin/org/yapp/apis/user/service/UserAccountService.kt
  apis/src/main/kotlin/org/yapp/apis/user/service/UserService.kt
  domain/src/main/kotlin/org/yapp/domain/user/UserDomainService.kt
  gateway/src/main/kotlin/org/yapp/gateway/security/SecurityConfig.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/annotation/ApplicationService.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/annotation/DisableSwaggerSecurity.kt
Labels: ✨ feat

#89 refactor: 알라딘 외부 검색 API 호출 시 totalResult를 200개로 제한, lastPage 컬럼 값 추가
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookSearchResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/BookErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordController.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/response/ReadingRecordPageResponse.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
Labels: 🐞 fix, 🔨 refactor

#95 feat: 내서제 도서 삭제 기능을 개발합니다.
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookController.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordRepository.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/JpaReadingRecordRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/impl/ReadingRecordRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/UserBookRepositoryImpl.kt
Labels: ✨ feat

#100 fix: 탈퇴한 유저 재가입 시 기존 정보 복구되지 않는 문제 해결
  infra/src/main/kotlin/org/yapp/infra/user/repository/JpaUserRepository.kt
Labels: 🐞 fix

#109 chore: Flyway 기반 데이터베이스 스키마 형상관리 활성화
  infra/README.md
  infra/src/main/kotlin/org/yapp/infra/book/entity/BookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/entity/UserBookEntity.kt
  infra/src/main/resources/application-persistence.yml
  infra/src/main/resources/db/migration/mysql/V1__init.sql
  infra/src/main/resources/db/migration/mysql/V20250820_001__ALTER_User_books_Book_isbn13_To_Varchar13.sql
  infra/src/main/resources/db/seed/common/R__tags_default_data.sql
Labels: ⚙️ chore
