Repository YAPP-Github/Reed-Server, pull requests merged in 2025-07, with the labels that each got.

#17 chore: CI/CD 세팅 진행중 (테스트 PR)
  .github/release-drafter-config.yml
  .github/workflows/ci-pr.yml
  .github/workflows/dev-ci-cd.yml
  .github/workflows/prod-ci-cd.yml
  .github/workflows/release-drafter.yml
  .gitignore
  admin/build.gradle.kts
  admin/src/main/resources/application.yml
  admin/src/test/kotlin/org/yapp/admin/AdminApplicationTests.kt
  apis/build.gradle.kts
  apis/src/main/resources/application.yml
  apis/src/test/kotlin/org/yapp/apis/ApisApplicationTests.kt
  apis/src/test/resources/db/migration/mysql/v1_init.sql
  batch/build.gradle.kts
  batch/src/main/resources/application.yml
  batch/src/test/kotlin/org/yapp/batch/BatchApplicationTests.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  domain/src/main/resources/application.properties
  gateway/build.gradle.kts
  gateway/src/main/kotlin/org/yapp/gateway/jwt/JwtTokenServiceImpl.kt
  gateway/src/main/resources/application-jwt.yml
  global-utils/src/main/resources/application.properties
  infra/build.gradle.kts
  infra/src/main/kotlin/org/yapp/infra/config/external/redis/RedisConfig.kt
  infra/src/main/resources/application-persistence.yml
  infra/src/main/resources/application-redis.yml
  infra/src/main/resources/application.properties
  infra/src/test/kotlin/org/yapp/infra/config/AbstractRedisTestConfig.kt
Labels: ⚙️ chore

#22 fix: buildSrc 모듈도 Dockerfile에서 copy 하도록 수정
  Dockerfile
  Dockerfile-dev
Labels: 🐞 fix

#26 알라딘 외부 API 도서검색 및 상세 조회 기능
  admin/src/main/resources/application.yml
  apis/build.gradle.kts
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookController.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookDetailRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookSearchRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookDetailResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookSearchResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/helper/AladinApiHelper.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/config/InfraConfig.kt
  apis/src/main/kotlin/org/yapp/apis/config/RestTemplateConfig.kt
  apis/src/main/resources/application.yml
  buildSrc/src/main/kotlin/Dependencies.kt
  domain/src/main/kotlin/org/yapp/domain/book/Book.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookRepository.kt
  gateway/src/main/kotlin/org/yapp/gateway/config/SecurityConfig.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/exception/CommonErrorCode.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/exception/GlobalExceptionHandler.kt
  global-utils/src/main/kotlin/org/yapp/globalutils/util/RegexUtils.kt
  infra/build.gradle.kts
  infra/src/main/kotlin/org/yapp/infra/InfraBaseConfigGroup.kt
  infra/src/main/kotlin/org/yapp/infra/book/entity/BookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/book/repository/JpaBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/book/repository/impl/BookRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/config/external/api/RestClientConfig.kt
  infra/src/main/kotlin/org/yapp/infra/config/external/oauth/FeignConfig.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/AladinApi.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/AladinRestClient.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/request/AladinBookLookupRequest.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/request/AladinBookSearchRequest.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/response/AladinResponseBase.kt
  infra/src/main/kotlin/org/yapp/infra/external/oauth/kakao/KakaoApi.kt
  infra/src/main/kotlin/org/yapp/infra/external/oauth/kakao/KakaoFeignApi.kt
  infra/src/main/kotlin/org/yapp/infra/external/oauth/kakao/KakaoRestClient.kt
  infra/src/main/kotlin/org/yapp/infra/external/redis/repository/impl/RefreshTokenRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/user/repository/impl/UserRepositoryImpl.kt
  infra/src/main/resources/application-external.yml
Labels: ✨ feat

#30 chore: JaCoCo와 SonarCloud를 연동한 Gradle 빌드 및 품질 관리 시스템 구축
  .github/workflows/ci-pr.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/Plugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  settings.gradle.kts
Labels: ⚙️ chore

#31 feat: 도서 등록 및 도서 목록 조회
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthController.kt
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/AuthCredentials.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/UserCreateInfo.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/SocialLoginRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/UserProfileResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/TokenService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserAuthService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/AppleAuthStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/AuthStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/strategy/KakaoAuthStrategy.kt
  apis/src/main/kotlin/org/yapp/apis/auth/usecase/AuthUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/book/constant/BookQueryServiceQualifier.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookController.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookCreateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookDetailRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UserBookRegisterRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookDetailResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/UserBookResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/BookErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/BookException.kt
  apis/src/main/kotlin/org/yapp/apis/book/helper/AladinApiHelper.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookManagementService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/BookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/impl/AladinBookQueryService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/util/AuthUtils.kt
  domain/src/main/kotlin/org/yapp/domain/book/Book.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/token/TokenDomainRedisService.kt
  domain/src/main/kotlin/org/yapp/domain/user/ProviderType.kt
  domain/src/main/kotlin/org/yapp/domain/user/User.kt
  domain/src/main/kotlin/org/yapp/domain/user/UserDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/user/UserRepository.kt
  domain/src/main/kotlin/org/yapp/domain/user/vo/SocialUserProfile.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/BookStatus.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBook.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/book/entity/BookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/user/entity/UserBookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/user/entity/UserEntity.kt
  infra/src/main/kotlin/org/yapp/infra/user/repository/JpaUserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/user/repository/JpaUserRepository.kt
  infra/src/main/kotlin/org/yapp/infra/user/repository/impl/UserBookRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/user/repository/impl/UserRepositoryImpl.kt
Labels: ✨ feat, 🐞 fix, 🔨 refactor

#44 fix: sub 클레임 값을 UUID로 변환해 Authentication 객체의 principal로 설정하도록 수정
  gateway/src/main/kotlin/org/yapp/gateway/config/JwtConfig.kt
  gateway/src/main/kotlin/org/yapp/gateway/security/SecurityConfig.kt
Labels: 🐞 fix

#51 feat: 약관동의여부 API 기능개발
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthController.kt
  apis/src/main/kotlin/org/yapp/apis/auth/controller/AuthControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/TermsAgreementRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/response/UserProfileResponse.kt
  apis/src/main/kotlin/org/yapp/apis/auth/service/UserAuthService.kt
  apis/src/main/kotlin/org/yapp/apis/auth/usecase/AuthUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UpsertUserBookRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  domain/src/main/kotlin/org/yapp/domain/user/User.kt
  domain/src/main/kotlin/org/yapp/domain/user/UserDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/user/vo/UserProfileVO.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  infra/src/main/kotlin/org/yapp/infra/common/BaseTimeEntity.kt
  infra/src/main/kotlin/org/yapp/infra/user/entity/UserEntity.kt
Labels: ✨ feat

#53 feat: 독서기록 API 기능 구현
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/DeleteTokenRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/FindUserIdentityRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/TokenGenerateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/auth/dto/request/UserBooksByIsbnsRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookController.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/BookCreateRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/request/UpsertUserBookRequest.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookCreateResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookDetailResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/UserBookPageResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/UserBookErrorCode.kt
  apis/src/main/kotlin/org/yapp/apis/book/exception/UserBookNotFoundException.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordController.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/request/CreateReadingRecordRequest.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/dto/response/ReadingRecordResponse.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/service/ReadingRecordService.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/usecase/ReadingRecordUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/book/Book.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/book/BookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/book/vo/BookInfoVO.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecord.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordRepository.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/ReadingRecordSortType.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecord/vo/ReadingRecordInfoVO.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecordtag/ReadingRecordTag.kt
  domain/src/main/kotlin/org/yapp/domain/readingrecordtag/ReadingRecordTagRepository.kt
  domain/src/main/kotlin/org/yapp/domain/tag/Tag.kt
  domain/src/main/kotlin/org/yapp/domain/tag/TagRepository.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBook.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookSortType.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/vo/UserBookInfoVO.kt
  infra/src/main/kotlin/org/yapp/infra/book/entity/BookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/book/repository/JpaBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/book/repository/impl/BookRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/external/aladin/response/AladinResponseBase.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/entity/ReadingRecordEntity.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/JpaReadingRecordQuerydslRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/JpaReadingRecordRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/impl/JpaReadingRecordQuerydslRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecord/repository/impl/ReadingRecordRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/entity/ReadingRecordTagEntity.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/repository/JpaReadingRecordTagRepository.kt
  infra/src/main/kotlin/org/yapp/infra/readingrecordtag/repository/ReadingRecordTagRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/tag/entity/TagEntity.kt
  infra/src/main/kotlin/org/yapp/infra/tag/repository/JpaTagRepository.kt
  infra/src/main/kotlin/org/yapp/infra/tag/repository/TagRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/entity/UserBookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/JpaUserBookQuerydslRepository.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/JpaUserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/JpaUserBookQuerydslRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/UserBookRepositoryImpl.kt
Labels: ✨ feat, 🔨 refactor

#61 feat: 내서재에서 도서검색이 가능하도록 기능을 구현
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookController.kt
  apis/src/main/kotlin/org/yapp/apis/book/controller/BookControllerApi.kt
  apis/src/main/kotlin/org/yapp/apis/book/service/UserBookService.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  apis/src/main/kotlin/org/yapp/apis/readingrecord/controller/ReadingRecordControllerApi.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookDomainService.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/UserBookRepository.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/entity/UserBookEntity.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/JpaUserBookQuerydslRepository.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/JpaUserBookQuerydslRepositoryImpl.kt
  infra/src/main/kotlin/org/yapp/infra/userbook/repository/impl/UserBookRepositoryImpl.kt
Labels: ✨ feat, 🔨 refactor

#65 feat: userBookStatus에 등록 전 enum 추가
  apis/src/main/kotlin/org/yapp/apis/book/dto/response/BookSearchResponse.kt
  apis/src/main/kotlin/org/yapp/apis/book/usecase/BookUseCase.kt
  domain/src/main/kotlin/org/yapp/domain/userbook/BookStatus.kt
Labels: ✨ feat, 🔨 refactor
